html,
body {
    padding: 0;
    margin: 0 !important;
    width: 100%;
    height: 100%;
    overflow-x: hidden !important;
}

#root {
        display: flex;
            flex-direction: column;
            align-items: center;
}

.app {
    position: absolute;
    top: 5%;
    width: 90%;
}


@font-face {
    font-family: sf-bold;
    src: url('../assets/fonts/sf-ui-display-bold.otf');
}

@font-face {
    font-family: sf-medium;
    src: url('../assets/fonts/sf-ui-display-medium.otf');
}

@font-face {
    font-family: sf-light;
    src: url('../assets/fonts/sf-ui-display-light.otf');
}
