.nav {
    height: 50px;
    width: 100%;
    position: relative;
    margin: 1% 0;
}

.nav>.nav-header {
    display: inline;
}

.nav>.nav-header>.nav-title {
    display: inline-block;
    width: 3%;
}

.nav-title img {
    width: 100%;
}

.nav>.nav-btn {
    display: none;
}

.nav>.nav-links {
    display: flex;
    align-items: center;
    float: right;
    font-size: 18px;
    width: 50%;
    justify-content: space-around;
}

.nav>.nav-links>a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #b8becd;
    font-family: sf-medium, sans-serif;
    font-size: 1.4rem;
}

.nav>.nav-links>a:hover {
    color: #202336;
}

.nav .nav-links a.active {
    color: #202336;
}

.nav>#nav-check {
    display: none;
}

#loginLink {
    font-style: normal;
    font-weight: 500;
    color: #fb8f1d;
    mix-blend-mode: normal;
    border: 1px solid #fb8f1d;
    border-radius: 8px;
    padding: 8px 46px;
}

#loginLink:hover {
    background-color: #fb8f1d;
    color: #fff;
}

#registerLink {
    font-weight: 500;
    color: #ffffff;
    mix-blend-mode: normal;
    background: #fb8f1d;
    border-radius: 8px;
    padding: 8px 36px;
    border: 1px solid #fff;
}

#registerLink:hover {
    color: #fb8f1d;
    background-color: #fff;
    border: 1px solid #fb8f1d;
}


@media (max-width: 600px) {
    .nav {
        margin-top: 3%;
    }

    .nav>.nav-header>.nav-title {
        width: 14%;
    }

    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .nav>.nav-btn>label {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        padding: 13px;
    }

    .nav>.nav-btn>label>span {
        display: block;
        width: 70%;
        height: 10px;
        border-top: 3px solid #333;
    }

    .nav .nav-links {
        position: absolute;
        display: block;
        background-color: #1abe84;
        height: 0;
        width: 100vh;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 116%;
        left: -50px;
        right: -50px;
    }

    .nav .nav-links a {
        display: block;
        width: 100%;
        margin-left: 3%;
        color: #fff;
        opacity: 0.8;
        font-size: 1.7rem;
    }

    .nav .nav-links a:hover {
        color: #fff;
        opacity: 1;
    }

    .nav .nav-links a.active {
        color: #fff;
        opacity: 1;
    }

    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }

    .nav>#nav-check:checked~.nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }

    .hide {
        display: none;
        transition: all 0.3s ease-in;
    }

    #loginLink,
    #registerLink {
        font-weight: 500;
        color: #ffffff;
        mix-blend-mode: normal;
        background: #fb8f1d;
        border-radius: 8px;
        padding: 8px 36px;
        width: 10%;
    }

    #loginLink {
        margin-bottom: 1%;
    }
}
